root = true

[*.cs]

dotnet_diagnostic.IDE0130.severity = none # フォルダ名はSnakeCase、コード上はPascalCaseにしたい
dotnet_diagnostic.CS9113.severity = none # Primary Constructorは結構対応していないツールが多い

dotnet_analyzer_diagnostic.category-Style.severity = none
